<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python33_file_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1. 구글 드라이드 마운트
2. csv_exam.csv 파일이 있는 경로를 복사
3. csv_exam.csv 파일을 읽기 모드로 오픈
4. 파일에서 첫번째 라인은 건너뜀(readline 호출)
5. 두번째 라인부터 파일 끝까지 한줄씩 읽으면서
6. 각 라인의 내용을 ','로 분리한 리스트를 빈 리스트(exam)에 append

```
exam = [[1,1,50,98,50], [2,1,60,97,60], [3,1,45,86,78], ...]
```

7. 2차원 리스트 exam에서 수학 점수들로만 이루어진 1차원 리스트(math)를 생성.

```
math = [50, 60, 45, ...]
```

8. 1반 학생들의 수학 점수의 총점, 평균, 최댓값, 최솟값을 찾으세요.(sum, min, max)

In [1]:
file_path = '/content/drive/My Drive/Colab Notebooks/lab_python/csv_exam.csv'

In [10]:
with open(file_path, mode='r') as f:
    f.readline()  # 첫번째 줄을 읽고, 아무 동작도 안함. - skip
    
    exam = []  # 파일에서 읽은 데이터를 저장하기 위한 리스트.
    for line in f:  # 파일의 두번째줄부터 파일 끝까지 readline 반복.
        # print(line.strip())
        # print(line.strip().split(sep=','))
        
        # 각 라인에서 문자열 시작과 끝의 공백들은 제거하고(strip),
        # 구분자인 comma로 문자열을 쪼개서(split) 만든 
        # 리스트를 exam에 추가(append).
        # line = '1,1,50,98,50\n'
        # line.strip() = '1,1,50,98,50\n'.strip() = '1,1,50,98,50'
        # line.strip().split(',') = '1,1,50,98,50'.split(',') = ['1', '1', '50', '98', '50']
        row = line.strip().split(sep=',')  # ['1', '1', '50', '98', '50']
        exam.append(row)

print(exam)
# 각각의 아이템들은 모두 문자열!

[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ['3', '1', '45', '86', '78'], ['4', '1', '30', '98', '58'], ['5', '2', '25', '80', '65'], ['6', '2', '50', '89', '98'], ['7', '2', '80', '90', '45'], ['8', '2', '90', '78', '25'], ['9', '3', '20', '98', '15'], ['10', '3', '50', '98', '45'], ['11', '3', '65', '65', '65'], ['12', '3', '45', '85', '32'], ['13', '4', '46', '98', '65'], ['14', '4', '48', '87', '12'], ['15', '4', '75', '56', '78'], ['16', '4', '58', '98', '65'], ['17', '5', '65', '68', '98'], ['18', '5', '80', '78', '90'], ['19', '5', '89', '68', '87'], ['20', '5', '78', '83', '58']]

In [13]:
# 2차원 리스트의 모든 원소들을 int 타입으로 변환
for row in exam:
    for x in row:
        x = int(x)

print(exam)  # 리스트의 원소들이 int로 변환되지 않았음!

# exam[0][0] = int('1')
# exam[0][1] = int('1')
# exam[0][2] = int('50')

[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ['3', '1', '45', '86', '78'], ['4', '1', '30', '98', '58'], ['5', '2', '25', '80', '65'], ['6', '2', '50', '89', '98'], ['7', '2', '80', '90', '45'], ['8', '2', '90', '78', '25'], ['9', '3', '20', '98', '15'], ['10', '3', '50', '98', '45'], ['11', '3', '65', '65', '65'], ['12', '3', '45', '85', '32'], ['13', '4', '46', '98', '65'], ['14', '4', '48', '87', '12'], ['15', '4', '75', '56', '78'], ['16', '4', '58', '98', '65'], ['17', '5', '65', '68', '98'], ['18', '5', '80', '78', '90'], ['19', '5', '89', '68', '87'], ['20', '5', '78', '83', '58']]

In [16]:
for i, row in enumerate(exam):
    for j, element in enumerate(row):
        # print(f'[{i}, {j}]: {element}')
        exam[i][j] = int(element)

print(exam)

[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], [3, 1, 45, 86, 78], [4, 1, 30, 98, 58], [5, 2, 25, 80, 65], [6, 2, 50, 89, 98], [7, 2, 80, 90, 45], [8, 2, 90, 78, 25], [9, 3, 20, 98, 15], [10, 3, 50, 98, 45], [11, 3, 65, 65, 65], [12, 3, 45, 85, 32], [13, 4, 46, 98, 65], [14, 4, 48, 87, 12], [15, 4, 75, 56, 78], [16, 4, 58, 98, 65], [17, 5, 65, 68, 98], [18, 5, 80, 78, 90], [19, 5, 89, 68, 87], [20, 5, 78, 83, 58]]

In [18]:
# math = []  # 수학 점수를 저장할 리스트.
# for row in exam:
#     # 수학 점수: 각 row에서 index=2 위치.
#     math.append(row[2])  # 각 row의 수학 점수만 math에 추가.

math = [row[2] for row in exam]

print(math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [20]:
# math_1 = []  # class==1인 학생들의 수학 점수를 저장할 리스트.
# for student in exam:
#     if student[1] == 1:  # 학생의 class값이 1이면
#         math_1.append(student[2])  # 학생의 수학 점수를 append.

math_1 = [obs[2] for obs in exam if obs[1] == 1]

print(math_1)

[50, 60, 45, 30]

In [21]:
print('총점:', sum(math_1))
print('평균:', sum(math_1) / len(math_1))
print('최댓값:', max(math_1))
print('최솟값:', min(math_1))

총점: 185
평균: 46.25
최댓값: 60
최솟값: 30