<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

여러가지 print 방법

In [ ]:
print('Hello, Python!')

Hello, Python!

In [ ]:
print('안녕', '여러분', 'Hello')

안녕 여러분 Hello

In [ ]:
print(1 + 2)

3

In [ ]:
print(1, '+', 2, '=', (1 + 2))

1 + 2 = 3

In [ ]:
# 변수(variable): 자료를 저장하는 메모리 공간
# 변수_이름 = 값
name = '오쌤'
age = 16

In [ ]:
print('이름:', name, ', age:', age)

이름: 오쌤 , age: 16

In [ ]:
print('이름: %s, 나이: %d' % (name, age))
# %s: 문자열, %d: 정수, %f: 실수

이름: 오쌤, 나이: 16

In [ ]:
print('%s = %f, %s = %d' % ('PI', 3.1415292, '연도', 2020))

PI = 3.141529, 연도 = 2020

In [ ]:
# format() 메서드 사용
print('이름: {}, 나이: {}'.format(name, age))

이름: 오쌤, 나이: 16

In [ ]:
print('이름: {1}, 나이: {0}'.format(age, name))

이름: 오쌤, 나이: 16

In [ ]:
print('a = {0}, b = {1}, c = {0}, d = {1}'.format(100, 200))

a = 100, b = 200, c = 100, d = 200

In [ ]:
# Python 3.6 이상 버전부터 생긴 기능: formatted string
print(f'이름: {name}, 나이: {age}')

이름: 오쌤, 나이: 16

In [ ]:
names = ('a', 'b', 'c')
print(names)
print(f'names = {names}')

('a', 'b', 'c')
names = ('a', 'b', 'c')

In [ ]:
# 사용자 입력(키보드 입력) 처리
name = input('이름을 입력하세요>>> ')
print(f'name: {name}')

이름을 입력하세요>>> 오쌤
name: 오쌤

In [ ]:
age = input('나이를 입력하세요>>> ')
print(f'age: {age}')
# input() 함수에서 입력받은 값은 항상 문자열(string)
print(type(age))  # age 변수의 데이터(자료) 타입 출력

나이를 입력하세요>>> 16
age: 16
<class 'str'>

In [ ]:
# 명시적 형 변환(type conversion): 문자열 -> 정수, 문자열 -> 실수
# int(입력값): 입력값을 정수로 변환
# float(입력값): 입력값을 실수로 변환
age = int(age)  # age 변수의 타입을 int 타입으로 변환 후 저장.
print(type(age))
print(age + 1, age - 1)

<class 'int'>
17 15

In [ ]:
# 변수 x, y에 숫자(실수)를 입력받아서 저장.
# x + y, x - y, x * y, x / y, x // y, x % y 연산 결과를 출력
x = input('x 입력>>> ')
x = float(x)  # 입력받은 문자열(str)을 실수(float) 타입으로 변환

y = float(input('y 입력>>> '))

print(f'{x} + {y} = {x + y}')
print(f'{x} - {y} = {x - y}')
print(f'{x} x {y} = {x * y}')
print(f'{x} / {y} = {x / y}')
print(f'{x} // {y} = {x // y}')  # //: 나눈 몫
print(f'{x} % {y} = {x % y}')    # %: 나눈 나머지

x 입력>>> 10
y 입력>>> 3
10.0 + 3.0 = 13.0
10.0 - 3.0 = 7.0
10.0 x 3.0 = 30.0
10.0 / 3.0 = 3.3333333333333335
10.0 // 3.0 = 3.0
10.0 % 3.0 = 1.0