<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python15_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List Comprehension**

In [ ]:
# 1 이상 10 이하의 정수들을 차례로 리스트에 추가.
numbers = []  # 빈(empty) 리스트 생성.
for n in range(1, 11):
    numbers.append(n)  # 리스트에 숫자를 추가.

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers2 = [n for n in range(1, 11)]
print(numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 리스트 evens에 10 이하의 짝수들을 저장.
evens = []
for x in range(1, 6):
    evens.append(2 * x)

print(evens)

[2, 4, 6, 8, 10]

In [ ]:
evens = [2 * x for x in range(1, 6)]
print(evens)

[2, 4, 6, 8, 10]

In [ ]:
evens = []
for x in range(2, 11, 2):
    evens.append(x)

print(evens)

[2, 4, 6, 8, 10]

In [ ]:
evens = [x for x in range(2, 11, 2)]
print(evens)

[2, 4, 6, 8, 10]

In [ ]:
# 리스트 squares에 1, 4, 9, 16, 25를 차례로 저장.
squares = []
for x in range(1, 6):
    squares.append(x ** 2)

print(squares)

[1, 4, 9, 16, 25]

In [ ]:
squares = [x ** 2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# 1 이상 10 이하의 짝수들의 리스트
evens = []
for x in range(1, 11):
    if x % 2 == 0:
        evens.append(x)

print(evens)

[2, 4, 6, 8, 10]

In [ ]:
evens = [x for x in range(1, 11) if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10]

In [ ]:
# (정수) 난수 10개를 리스트에 저장
import random

random.seed(1)

randoms = []
for _ in range(10):
    randoms.append(random.randrange(0, 11))  # 0 <= r < 11

print(randoms)

[2, 9, 1, 4, 1, 7, 7, 7, 10, 6]

In [ ]:
random.seed(1)

randoms = [random.randrange(0, 11) for _ in range(10)]
print(randoms)

[2, 9, 1, 4, 1, 7, 7, 7, 10, 6]

In [ ]:
# randoms의 숫자들 중에서 짝수만 갖는 리스트를 생성
evens = []
for x in randoms:
    if x % 2 == 0:
        evens.append(x)
print(evens)

evens = [x for x in randoms if x % 2 == 0]
print(evens)

[2, 4, 10, 6]
[2, 4, 10, 6]

In [ ]:
# randoms의 숫자들 중에서 홀수만 갖는 리스트를 생성
odds = []
for x in randoms:
    if x % 2:  # if x % 2 == 1:
        odds.append(x)
print(odds)

odds = [x for x in randoms if x % 2]
print(odds)

[9, 1, 1, 7, 7, 7]
[9, 1, 1, 7, 7, 7]

In [ ]:
genders_1 = ['male', 'female', 'female', 'male', 'male', 'female']

# genders_1에 저장된 값이 'male'이면 0, 'female'이면 1을 저장하는 리스트 genders_2를 만드세요.
genders_2 = []
for gender in genders_1:  # genders_1 리스트의 성별들에 대해서
    if gender == 'male':  # 성별이 male이면,
        genders_2.append(0)
    else:  # 성별이 male이 아니면(female이면),
        genders_2.append(1)
print(genders_2)

genders_3 = [0 if gender == 'male' else 1 for gender in genders_1]
print(genders_3)

[0, 1, 1, 0, 0, 1]
[0, 1, 1, 0, 0, 1]

In [ ]:
genders_1 = ['male', 'female', 'female', 'unknown', 'male']
genders_2 = []
for gender in genders_1:
    if gender == 'male':
        genders_2.append(0)
    elif gender == 'female':
        genders_2.append(1)
    else:
        genders_2.append(2)
print(genders_2)

genders_3 = [0 if gender == 'male' else 
             1 if gender == 'female' else 
             2 for gender in genders_1]
print(genders_3)

[0, 1, 1, 2, 0]
[0, 1, 1, 2, 0]

In [ ]:
words = ['apple', 'banana', 'car', 'cherry', 'dog']

# word_lengths: words의 문자열의 길이를 저장하는 리스트
word_lengths = []
for word in words:
    word_lengths.append(len(word))
print(word_lengths)

word_lengths = [len(word) for word in words]
print(word_lengths)

[5, 6, 3, 6, 3]
[5, 6, 3, 6, 3]

In [ ]:
# scores: 0 이상 100 이하의 (정수) 난수 10개를 저장
random.seed(42)  # 같은 결과의 난수를 만들기 위해서
scores = [random.randrange(0, 101) for _ in range(10)]
print(scores)

# above_mean: scores의 평균보다 큰 점수들로 이루어진 리스트
mean = sum(scores) / len(scores)
print(mean)

above_mean = [score for score in scores if score > mean]
print(above_mean)

[81, 14, 3, 94, 35, 31, 28, 17, 94, 13]
41.0
[81, 94, 94]

In [ ]:
numbers = set()  # empty set
print(type(numbers))

random.seed(42)
for _ in range(1000):  # 1000번 반복
    r = random.randrange(0, 11)  # 난수 생성 
    print(r)
    numbers.add(r)  # 난수를 set에 추가
    if len(numbers) == 10:  # set의 원소의 개수가 10개이면
        break  # 반복문 종료
print(numbers)

<class 'set'>
10
1
0
4
3
3
2
1
10
8
1
9
6
0
0
1
3
3
8
9
0
8
3
10
8
6
3
7
{0, 1, 2, 3, 4, 6, 7, 8, 9, 10}