<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python54_merge_concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

https://github.com/pandas-dev/pandas/tree/master/doc/data/ 의 데이터를 사용

1. air_quality_no2_long.csv, air_quality_pm25_long.csv 파일을 읽어서 각각 데이터 프레임 생성, 두 데이터 프레임 합쳐 보세요.

In [2]:
no2_file = 'https://github.com/pandas-dev/pandas/raw/master/doc/data/air_quality_no2_long.csv'
no2_df = pd.read_csv(no2_file)
no2_df

        city country                   date.utc  ... parameter value   unit
0      Paris      FR  2019-06-21 00:00:00+00:00  ...       no2  20.0  µg/m³
1      Paris      FR  2019-06-20 23:00:00+00:00  ...       no2  21.8  µg/m³
2      Paris      FR  2019-06-20 22:00:00+00:00  ...       no2  26.5  µg/m³
3      Paris      FR  2019-06-20 21:00:00+00:00  ...       no2  24.9  µg/m³
4      Paris      FR  2019-06-20 20:00:00+00:00  ...       no2  21.4  µg/m³
...      ...     ...                        ...  ...       ...   ...    ...
2063  London      GB  2019-05-07 06:00:00+00:00  ...       no2  26.0  µg/m³
2064  London      GB  2019-05-07 04:00:00+00:00  ...       no2  16.0  µg/m³
2065  London      GB  2019-05-07 03:00:00+00:00  ...       no2  19.0  µg/m³
2066  London      GB  2019-05-07 02:00:00+00:00  ...       no2  19.0  µg/m³
2067  London      GB  2019-05-07 01:00:00+00:00  ...       no2  23.0  µg/m³

[2068 rows x 7 columns]

In [3]:
no2_df['city'].value_counts()

Paris        1004
London        969
Antwerpen      95
Name: city, dtype: int64

In [4]:
no2_df['country'].value_counts()

FR    1004
GB     969
BE      95
Name: country, dtype: int64

In [5]:
no2_df['location'].value_counts()

FR04014               1004
London Westminster     969
BETR801                 95
Name: location, dtype: int64

In [6]:
no2_df['parameter'].value_counts()

no2    2068
Name: parameter, dtype: int64

In [7]:
# (지름 2.5 um 미만의) 미세먼지
pm25_file = 'https://github.com/pandas-dev/pandas/raw/master/doc/data/air_quality_pm25_long.csv'
pm25_df = pd.read_csv(pm25_file)
pm25_df

           city country                   date.utc  ... parameter value   unit
0     Antwerpen      BE  2019-06-18 06:00:00+00:00  ...      pm25  18.0  µg/m³
1     Antwerpen      BE  2019-06-17 08:00:00+00:00  ...      pm25   6.5  µg/m³
2     Antwerpen      BE  2019-06-17 07:00:00+00:00  ...      pm25  18.5  µg/m³
3     Antwerpen      BE  2019-06-17 06:00:00+00:00  ...      pm25  16.0  µg/m³
4     Antwerpen      BE  2019-06-17 05:00:00+00:00  ...      pm25   7.5  µg/m³
...         ...     ...                        ...  ...       ...   ...    ...
1105     London      GB  2019-05-07 06:00:00+00:00  ...      pm25   9.0  µg/m³
1106     London      GB  2019-05-07 04:00:00+00:00  ...      pm25   8.0  µg/m³
1107     London      GB  2019-05-07 03:00:00+00:00  ...      pm25   8.0  µg/m³
1108     London      GB  2019-05-07 02:00:00+00:00  ...      pm25   8.0  µg/m³
1109     London      GB  2019-05-07 01:00:00+00:00  ...      pm25   8.0  µg/m³

[1110 rows x 7 columns]

In [8]:
air_quality = pd.concat([no2_df, pm25_df])
air_quality

        city country                   date.utc  ... parameter value   unit
0      Paris      FR  2019-06-21 00:00:00+00:00  ...       no2  20.0  µg/m³
1      Paris      FR  2019-06-20 23:00:00+00:00  ...       no2  21.8  µg/m³
2      Paris      FR  2019-06-20 22:00:00+00:00  ...       no2  26.5  µg/m³
3      Paris      FR  2019-06-20 21:00:00+00:00  ...       no2  24.9  µg/m³
4      Paris      FR  2019-06-20 20:00:00+00:00  ...       no2  21.4  µg/m³
...      ...     ...                        ...  ...       ...   ...    ...
1105  London      GB  2019-05-07 06:00:00+00:00  ...      pm25   9.0  µg/m³
1106  London      GB  2019-05-07 04:00:00+00:00  ...      pm25   8.0  µg/m³
1107  London      GB  2019-05-07 03:00:00+00:00  ...      pm25   8.0  µg/m³
1108  London      GB  2019-05-07 02:00:00+00:00  ...      pm25   8.0  µg/m³
1109  London      GB  2019-05-07 01:00:00+00:00  ...      pm25   8.0  µg/m³

[3178 rows x 7 columns]

In [10]:
air_quality['location'].value_counts()

London Westminster    1978
FR04014               1004
BETR801                196
Name: location, dtype: int64

2. air_quality_stations.csv 파일을 읽어서 데이터 프레임을 생성.

In [9]:
stations_file = 'https://github.com/pandas-dev/pandas/raw/master/doc/data/air_quality_stations.csv'
stations_df = pd.read_csv(stations_file)
stations_df

                      location  coordinates.latitude  coordinates.longitude
0                      BELAL01              51.23619                4.38522
1                      BELHB23              51.17030                4.34100
2                      BELLD01              51.10998                5.00486
3                      BELLD02              51.12038                5.02155
4                      BELR833              51.32766                4.36226
..                         ...                   ...                    ...
61             Southend-on-Sea              51.54420                0.67841
62  Southwark A2 Old Kent Road              51.48050               -0.05955
63                    Thurrock              51.47707                0.31797
64      Tower Hamlets Roadside              51.52253               -0.04216
65        Groton Fort Griswold              41.35360              -72.07890

[66 rows x 3 columns]

In [ ]:
stations_df['location'].value_counts()

3. 1, 2번에 생성한 데이터 프레임을 합쳐 보세요.

In [12]:
air_quality = pd.merge(left=air_quality, right=stations_df, how='left', 
                       on='location')
air_quality

        city country  ... coordinates.latitude coordinates.longitude
0      Paris      FR  ...             48.83724               2.39390
1      Paris      FR  ...             48.83722               2.39390
2      Paris      FR  ...             48.83724               2.39390
3      Paris      FR  ...             48.83722               2.39390
4      Paris      FR  ...             48.83724               2.39390
...      ...     ...  ...                  ...                   ...
4177  London      GB  ...             51.49467              -0.13193
4178  London      GB  ...             51.49467              -0.13193
4179  London      GB  ...             51.49467              -0.13193
4180  London      GB  ...             51.49467              -0.13193
4181  London      GB  ...             51.49467              -0.13193

[4182 rows x 9 columns]