<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python22_recursive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def factorial(n):
    """n!(n factorial)을 리턴하는 함수.
    0! = 1
    n! = 1 x 2 x 3 x ... x (n-1) x n, n >= 1

    >>> factorial(5)
    120
    """
    result = None
    if n == 0:
        result = 1  # 0! = 1
    elif n > 0:
        result = 1
        for x in range(1, n + 1):
            result *= x

    return result

In [2]:
factorial(0)  # positional argument

1

In [8]:
factorial(n=1)  # keyword argument

1

In [9]:
factorial(-1)

In [10]:
# 재귀 함수(recursive function): 함수 내부에서 자기 자신을 다시 호출하는 것.
# n! = 1 * 2 * 3 * ... * (n - 1) * n = (n - 1)! * n

def factorial_recursive(n: int) -> int:
    result = None
    if n == 0:
        result = 1  # 0! = 1
    elif n > 0:
        result = factorial_recursive(n - 1) * n  # n! = (n - 1)! * n
    
    return result

In [12]:
for x in range(0, 6):
    print(f'{x}! = {factorial_recursive(x)}')

0! = 1
1! = 1
2! = 2
3! = 6
4! = 24
5! = 120

In [13]:
def sum_to(n):
    """1부터 n까지 정수들의 합을 리턴하는 함수.
    s(n) = 1 + 2 + 3 + ... + (n-1) + n

    >>> sum_to(10)
    55
    """
    result = None
    if n == 0:
        result = 0
    elif n > 0:
        result = 0
        for x in range(1, n + 1):
            result += x
    
    return result

In [14]:
for x in range(0, 11):
    print(f'sum_to({x}) = {sum_to(x)}')

sum_to(0) = 0
sum_to(1) = 1
sum_to(2) = 3
sum_to(3) = 6
sum_to(4) = 10
sum_to(5) = 15
sum_to(6) = 21
sum_to(7) = 28
sum_to(8) = 36
sum_to(9) = 45
sum_to(10) = 55

In [15]:
def recursive_sum(n: int) -> int:
    """s(n) = 1 + 2 + 3 + ... + (n - 1) + n = s(n - 1) + n"""
    result = None
    if n == 0:
        result = 0
    elif n > 0:
        result = recursive_sum(n - 1) + n

    return result

In [16]:
for x in range(0, 11):
    print(f'sum({x}) = {recursive_sum(x)}')

sum(0) = 0
sum(1) = 1
sum(2) = 3
sum(3) = 6
sum(4) = 10
sum(5) = 15
sum(6) = 21
sum(7) = 28
sum(8) = 36
sum(9) = 45
sum(10) = 55

In [17]:
def sum_to2(n):
    return n * (n + 1) / 2

In [18]:
for x in range(0, 11):
    print(f'sum({x}) = {sum_to2(x)}')

sum(0) = 0.0
sum(1) = 1.0
sum(2) = 3.0
sum(3) = 6.0
sum(4) = 10.0
sum(5) = 15.0
sum(6) = 21.0
sum(7) = 28.0
sum(8) = 36.0
sum(9) = 45.0
sum(10) = 55.0