<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**set 데이터 타입**

*   저장되는 순서가 중요하지 않고, 값들이 중복 저장되지 않는 데이터 타입.
*   {1, 2, 3} == {3, 1, 2}, {1, 2, 2, 3, 3, 3} == {1, 2, 3}
*   set은 인덱스(index)를 갖지 않음!
*   합집합(union), 교집합(intersection), 차집합(difference)과 같은 연산을 제공.

In [2]:
s1 = {5, 2, 4, 3, 1}
s2 = {4, 5, 4, 5, 6}

print(s1, type(s1))
print(s2, type(s2))

{1, 2, 3, 4, 5} <class 'set'>
{4, 5, 6} <class 'set'>

In [4]:
# 합집합
print(s1.union(s2))
print(s1 | s2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [6]:
# 교집합
print(s1.intersection(s2))
print(s1 & s2)

{4, 5}
{4, 5}

In [9]:
# 차집합
print(s1.difference(s2))
print(s2.difference(s1))
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{6}
{1, 2, 3}
{6}

In [31]:
# 리스트에서 중복되지 않은 값들만 선택
words = ['apple', 'banana', 'cherry', 'banana', 'cherry', 'cherry', 'apple']
print(words)

# 타입 변환(type casting): int(), float(), str(), list(), tuple(), dict(), set()
words2 = set(words)
print(words2)

['apple', 'banana', 'cherry', 'banana', 'cherry', 'cherry', 'apple']
{'cherry', 'banana', 'apple'}