<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python60_movielens.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://github.com/wesm/pydata-book/tree/2nd-edition/datasets/movielens/ 
의 데이터 파일들(movies, users, ratings)를 사용

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

* 데이터 파일 저장소(repository), 헤더 정보(컬럼 이름)

In [2]:
movies_file = 'https://github.com/wesm/pydata-book/raw/2nd-edition/datasets/movielens/movies.dat'
movies_cols = ['movie_id', 'title', 'genres']

In [3]:
ratings_file = 'https://github.com/wesm/pydata-book/blob/2nd-edition/datasets/movielens/ratings.dat?raw=true'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']

In [4]:
users_file = 'https://github.com/wesm/pydata-book/raw/2nd-edition/datasets/movielens/users.dat'
users_cols = ['user_id', 'gender', 'age', 'occupation', 'zip_code']

* movies, ratings, users 데이터 프레임 생성.

In [5]:
movies = pd.read_csv(movies_file, sep='::',
                     header=None, names=movies_cols, encoding='cp1252')
movies.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [6]:
ratings = pd.read_csv(ratings_file, sep='::',
                      header=None, names=ratings_cols, encoding='cp1252')
ratings.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [7]:
users = pd.read_csv(users_file, sep='::',
                    header=None, names=users_cols, encoding='cp1252')
users.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   user_id gender  age  occupation zip_code
0        1      F    1          10    48067
1        2      M   56          16    70072
2        3      M   25          15    55117
3        4      M   45           7    02460
4        5      M   25          20    55455

* ratings, users, movies를 merge

In [8]:
ratings.shape

(1000209, 4)

In [9]:
users.shape

(6040, 5)

In [10]:
movies.shape

(3883, 3)

In [11]:
data = pd.merge(left=pd.merge(left=ratings, right=users),
                right=movies)

In [12]:
data.head()

   user_id  movie_id  ...                                   title  genres
0        1      1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
1        2      1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
2       12      1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
3       15      1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
4       17      1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama

[5 rows x 10 columns]

In [13]:
data.tail()

         user_id  ...                genres
1000204     5949  ...           Documentary
1000205     5675  ...                 Drama
1000206     5780  ...                 Drama
1000207     5851  ...  Comedy|Drama|Western
1000208     5938  ...           Documentary

[5 rows x 10 columns]

In [14]:
data.shape

(1000209, 10)

* 평점 평균이 높은 순서로 10개의 영화 제목

In [15]:
# 영화 제목별 평점(rating)의 평균 -> 정렬 -> 상위 10개
rating_by_title = data.groupby('title')[['rating']].mean()
rating_by_title

                                              rating
title
$1,000,000 Duck (1971)                      3.027027
'Night Mother (1986)                        3.371429
'Til There Was You (1997)                   2.692308
'burbs, The (1989)                          2.910891
...And Justice for All (1979)               3.713568
...                                              ...
Zed & Two Noughts, A (1985)                 3.413793
Zero Effect (1998)                          3.750831
Zero Kelvin (Kjærlighetens kjøtere) (1995)  3.500000
Zeus and Roxanne (1997)                     2.521739
eXistenZ (1999)                             3.256098

[3706 rows x 1 columns]

In [20]:
rating_by_title.sort_values(by='rating', ascending=False).head(n=10)

                                           rating
title
Ulysses (Ulisse) (1954)                       5.0
Lured (1947)                                  5.0
Follow the Bitch (1998)                       5.0
Bittersweet Motel (2000)                      5.0
Song of Freedom (1936)                        5.0
One Little Indian (1973)                      5.0
Smashing Time (1967)                          5.0
Schlafes Bruder (Brother of Sleep) (1995)     5.0
Gate of Heavenly Peace, The (1995)            5.0
Baby, The (1973)                              5.0

* 여성의 평점 평균이 높은 순서로 10개의 영화 제목

In [21]:
rating_by_title_gender = data.pivot_table(values='rating',
                                          index='title',
                                          columns='gender')
rating_by_title_gender

gender                                             F         M
title
$1,000,000 Duck (1971)                      3.375000  2.761905
'Night Mother (1986)                        3.388889  3.352941
'Til There Was You (1997)                   2.675676  2.733333
'burbs, The (1989)                          2.793478  2.962085
...And Justice for All (1979)               3.828571  3.689024
...                                              ...       ...
Zed & Two Noughts, A (1985)                 3.500000  3.380952
Zero Effect (1998)                          3.864407  3.723140
Zero Kelvin (Kjærlighetens kjøtere) (1995)       NaN  3.500000
Zeus and Roxanne (1997)                     2.777778  2.357143
eXistenZ (1999)                             3.098592  3.289086

[3706 rows x 2 columns]

In [27]:
rating_by_title_gender['F'].sort_values(ascending=False).head(n=10)

title
Lamerica (1994)                                     5.0
Brother, Can You Spare a Dime? (1975)               5.0
Other Side of Sunday, The (Søndagsengler) (1996)    5.0
Ayn Rand: A Sense of Life (1997)                    5.0
For the Moment (1994)                               5.0
Country Life (1994)                                 5.0
Belly (1998)                                        5.0
Clean Slate (Coup de Torchon) (1981)                5.0
Woman of Paris, A (1923)                            5.0
Coldblooded (1995)                                  5.0
Name: F, dtype: float64

* 남성의 평점 평균이 높은 순서로 10개의 영화 제목

In [29]:
rating_by_title_gender[['M']].sort_values(by='M', ascending=False).head(n=10)

gender                                       M
title
Schlafes Bruder (Brother of Sleep) (1995)  5.0
Small Wonders (1996)                       5.0
Gate of Heavenly Peace, The (1995)         5.0
Baby, The (1973)                           5.0
Ulysses (Ulisse) (1954)                    5.0
Dangerous Game (1993)                      5.0
Angela (1995)                              5.0
Bells, The (1926)                          5.0
Smashing Time (1967)                       5.0
Follow the Bitch (1998)                    5.0

* data에서 title이 등장하는 횟수

In [31]:
title_counts = data['title'].value_counts()
title_counts  #> count의 내림차순으로 정렬

American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
                                                         ...
Night Tide (1961)                                           1
Open Season (1996)                                          1
Small Faces (1995)                                          1
Alley Cats, The (1968)                                      1
Superweib, Das (1996)                                       1
Name: title, Length: 3706, dtype: int64

In [32]:
data.groupby('title').size()  #> index 오름차순 정렬

title
$1,000,000 Duck (1971)                         37
'Night Mother (1986)                           70
'Til There Was You (1997)                      52
'burbs, The (1989)                            303
...And Justice for All (1979)                 199
                                             ...
Zed & Two Noughts, A (1985)                    29
Zero Effect (1998)                            301
Zero Kelvin (Kjærlighetens kjøtere) (1995)      2
Zeus and Roxanne (1997)                        23
eXistenZ (1999)                               410
Length: 3706, dtype: int64

In [33]:
data.groupby('title').size().sort_values(ascending=False)

title
American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
                                                         ...
Anna (1996)                                                 1
McCullochs, The (1975)                                      1
Shadows (Cienie) (1988)                                     1
Night Tide (1961)                                           1
Another Man's Poison (1952)                                 1
Length: 3706, dtype: int64

In [34]:
# 평점을 많이 받은 영화 상위 20개
title_counts.head(n=20)

American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
Saving Private Ryan (1998)                               2653
Terminator 2: Judgment Day (1991)                        2649
Matrix, The (1999)                                       2590
Back to the Future (1985)                                2583
Silence of the Lambs, The (1991)                         2578
Men in Black (1997)                                      2538
Raiders of the Lost Ark (1981)                           2514
Fargo (1996)                                             2513
Sixth Sense, The (1999)                                  2459
Braveheart (1995)                                        2443
Shakespeare in Love (1998)                               2369
Princess Bride, The (1987)                               2318
Schindler's List (1993)                                  2304
L.A. Confidential (1997)                                 2288
Groundhog Day (1993)                                     2278
Name: title, dtype: int64

In [35]:
title_counts.describe()

count    3706.000000
mean      269.889099
std       384.047838
min         1.000000
25%        33.000000
50%       123.500000
75%       350.000000
max      3428.000000
Name: title, dtype: float64

* title_counts에서 카운트 횟수가 350회 이상인 영화 제목들을 선택

In [39]:
indexer = title_counts.index[title_counts >= 350]
indexer  #> 사용자(user) 350명 이상으로부터 별점을 받은 영화들

Index(['American Beauty (1999)', 'Star Wars: Episode IV - A New Hope (1977)',
       'Star Wars: Episode V - The Empire Strikes Back (1980)',
       'Star Wars: Episode VI - Return of the Jedi (1983)',
       'Jurassic Park (1993)', 'Saving Private Ryan (1998)',
       'Terminator 2: Judgment Day (1991)', 'Matrix, The (1999)',
       'Back to the Future (1985)', 'Silence of the Lambs, The (1991)',
       ...
       'St. Elmo's Fire (1985)', 'Beverly Hills Cop III (1994)',
       'Longest Day, The (1962)', 'Amistad (1997)', 'Local Hero (1983)',
       'Shall We Dance? (Shall We Dansu?) (1996)',
       'Guess Who's Coming to Dinner (1967)', 'Super Mario Bros. (1993)',
       'River Wild, The (1994)',
       'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)'],
      dtype='object', length=931)

In [44]:
rating_by_title_gender.loc[indexer]

gender                                                     F         M
American Beauty (1999)                              4.238901  4.347301
Star Wars: Episode IV - A New Hope (1977)           4.302937  4.495307
Star Wars: Episode V - The Empire Strikes Back ...  4.106481  4.344577
Star Wars: Episode VI - Return of the Jedi (1983)   3.865237  4.069058
Jurassic Park (1993)                                3.579407  3.814197
...                                                      ...       ...
Shall We Dance? (Shall We Dansu?) (1996)            4.087248  4.174129
Guess Who's Coming to Dinner (1967)                 3.946429  3.907563
Super Mario Bros. (1993)                            2.163636  1.820339
River Wild, The (1994)                              3.418605  3.189394
Englishman Who Went Up a Hill, But Came Down a ...  3.314286  3.242857

[931 rows x 2 columns]

In [48]:
data_with_index = data.set_index('title').loc[indexer]
data_with_index  #> 350명 이상의 사용자에게 평점을 받은 영화들

                                                    user_id  ...          genres
title                                                        ...
American Beauty (1999)                                    2  ...    Comedy|Drama
American Beauty (1999)                                    3  ...    Comedy|Drama
American Beauty (1999)                                    5  ...    Comedy|Drama
American Beauty (1999)                                    6  ...    Comedy|Drama
American Beauty (1999)                                    8  ...    Comedy|Drama
...                                                     ...  ...             ...
Englishman Who Went Up a Hill, But Came Down a ...     5963  ...  Comedy|Romance
Englishman Who Went Up a Hill, But Came Down a ...     5972  ...  Comedy|Romance
Englishman Who Went Up a Hill, But Came Down a ...     6000  ...  Comedy|Romance
Englishman Who Went Up a Hill, But Came Down a ...     6016  ...  Comedy|Romance
Englishman Who Went Up a Hill, But Came Down a ...     6025  ...  Comedy|Romance

[724825 rows x 9 columns]

* 350명 이상의 user들에게서 평점을 받은 영화들 중에서 여성의 평점 평균이 높은 상위 10개

In [53]:
rating_by_title_gender.loc[indexer].sort_values(by='F', ascending=False).head(n=10)

gender                                                     F         M
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Usual Suspects, The (1995)                          4.513317  4.518248
It Happened One Night (1934)                        4.500000  4.163934

* 350명 이상의 user들에게서 평점을 받은 영화들 중에서 남성의 평점 평균이 높은 상위 10개

In [54]:
rating_by_title_gender.loc[indexer].sort_values(by='M', ascending=False).head(n=10)

gender                                                     F         M
Godfather, The (1972)                               4.314700  4.583333
Seven Samurai (The Magnificent Seven) (Shichini...  4.481132  4.576628
Shawshank Redemption, The (1994)                    4.539075  4.560625
Raiders of the Lost Ark (1981)                      4.332168  4.520597
Usual Suspects, The (1995)                          4.513317  4.518248
Star Wars: Episode IV - A New Hope (1977)           4.302937  4.495307
Schindler's List (1993)                             4.562602  4.491415
Wrong Trousers, The (1993)                          4.588235  4.478261
Close Shave, A (1995)                               4.644444  4.473795
Rear Window (1954)                                  4.484536  4.472991

* 성별 영화 선호도 차이

In [56]:
# 여성과 남성의 평점 평균의 차이를 파생변수로 추가.
rating_by_title_gender['diff'] = rating_by_title_gender['F'] - rating_by_title_gender['M']
rating_by_title_gender

gender                                             F         M      diff
title
$1,000,000 Duck (1971)                      3.375000  2.761905  0.613095
'Night Mother (1986)                        3.388889  3.352941  0.035948
'Til There Was You (1997)                   2.675676  2.733333 -0.057658
'burbs, The (1989)                          2.793478  2.962085 -0.168607
...And Justice for All (1979)               3.828571  3.689024  0.139547
...                                              ...       ...       ...
Zed & Two Noughts, A (1985)                 3.500000  3.380952  0.119048
Zero Effect (1998)                          3.864407  3.723140  0.141266
Zero Kelvin (Kjærlighetens kjøtere) (1995)       NaN  3.500000       NaN
Zeus and Roxanne (1997)                     2.777778  2.357143  0.420635
eXistenZ (1999)                             3.098592  3.289086 -0.190494

[3706 rows x 3 columns]

In [58]:
# 350명 이상의 평점을 받은 영화들
active_titles = rating_by_title_gender.loc[indexer]
active_titles

gender                                                     F  ...      diff
American Beauty (1999)                              4.238901  ... -0.108400
Star Wars: Episode IV - A New Hope (1977)           4.302937  ... -0.192371
Star Wars: Episode V - The Empire Strikes Back ...  4.106481  ... -0.238096
Star Wars: Episode VI - Return of the Jedi (1983)   3.865237  ... -0.203821
Jurassic Park (1993)                                3.579407  ... -0.234791
...                                                      ...  ...       ...
Shall We Dance? (Shall We Dansu?) (1996)            4.087248  ... -0.086881
Guess Who's Coming to Dinner (1967)                 3.946429  ...  0.038866
Super Mario Bros. (1993)                            2.163636  ...  0.343297
River Wild, The (1994)                              3.418605  ...  0.229211
Englishman Who Went Up a Hill, But Came Down a ...  3.314286  ...  0.071429

[931 rows x 3 columns]

In [62]:
# 남녀 평점 차이가 큰 영화 상위 20개 - 여성들의 평점이 남성들의 평점보다 높은 상위 20개
top_diff_female = active_titles.sort_values(by='diff', ascending=False).head(n=20)
top_diff_female

gender                                        F         M      diff
Dirty Dancing (1987)                   3.790378  2.959596  0.830782
Jumpin' Jack Flash (1986)              3.254717  2.578358  0.676359
Grease (1978)                          3.975265  3.367041  0.608224
Steel Magnolias (1989)                 3.901734  3.365957  0.535777
Rocky Horror Picture Show, The (1975)  3.673016  3.160131  0.512885
Color Purple, The (1985)               4.158192  3.659341  0.498851
Little Shop of Horrors, The (1960)     3.650000  3.179688  0.470312
Mary Poppins (1964)                    4.197740  3.730594  0.467147
Patch Adams (1998)                     3.473282  3.008746  0.464536
Sound of Music, The (1965)             4.233677  3.783418  0.450259
Never Been Kissed (1999)               3.452174  3.002538  0.449636
Jewel of the Nile, The (1985)          3.494253  3.048096  0.446157
Gone with the Wind (1939)              4.269841  3.829371  0.440471
Hope Floats (1998)                     3.206186  2.782383  0.423802
Beverly Hills Cop III (1994)           2.865385  2.443333  0.422051
Sense and Sensibility (1995)           4.233333  3.819277  0.414056
Pretty in Pink (1986)                  3.619772  3.211628  0.408144
Emma (1996)                            4.061151  3.654709  0.406443
Strictly Ballroom (1992)               4.174342  3.768817  0.405525
Ever After: A Cinderella Story (1998)  3.900000  3.505102  0.394898

In [63]:
# 남녀 평점 차이가 큰 영화 - 남성들이 더 높은 평점을 준 영화 상위 20개
top_diff_male = active_titles.sort_values(by='diff').head(n=20)
top_diff_male

gender                                              F         M      diff
Good, The Bad and The Ugly, The (1966)       3.494949  4.221300 -0.726351
Dumb & Dumber (1994)                         2.697987  3.336595 -0.638608
Longest Day, The (1962)                      3.411765  4.031447 -0.619682
Cable Guy, The (1996)                        2.250000  2.863787 -0.613787
Evil Dead II (Dead By Dawn) (1987)           3.297297  3.909283 -0.611985
Rocky III (1982)                             2.361702  2.943503 -0.581801
Caddyshack (1980)                            3.396135  3.969737 -0.573602
Animal House (1978)                          3.628906  4.167192 -0.538286
Exorcist, The (1973)                         3.537634  4.067239 -0.529605
Rocky II (1979)                              2.741379  3.242894 -0.501515
Beavis and Butt-head Do America (1996)       2.637363  3.135417 -0.498054
Big Trouble in Little China (1986)           2.987952  3.485030 -0.497078
From Dusk Till Dawn (1996)                   2.735714  3.232558 -0.496844
Akira (1988)                                 3.511111  3.980344 -0.469233
Me, Myself and Irene (2000)                  2.629310  3.096847 -0.467537
Kingpin (1996)                               3.092308  3.557480 -0.465173
Reservoir Dogs (1992)                        3.769231  4.213873 -0.444642
Raging Bull (1980)                           3.831933  4.263441 -0.431508
South Park: Bigger, Longer and Uncut (1999)  3.422481  3.846686 -0.424206
Eyes Wide Shut (1999)                        2.891213  3.305949 -0.414736

* 남녀 평점 차이가 큰 영화들에서, 여성들이 높은 평점을 준 상위 20개 영화에 자주 등장하는 장르 5개를 찾아보세요.

In [68]:
female_titles = top_diff_female.index
female_titles  # 여성들이 남성들보다 더 선호하는 영화 제목 20개

Index(['Dirty Dancing (1987)', 'Jumpin' Jack Flash (1986)', 'Grease (1978)',
       'Steel Magnolias (1989)', 'Rocky Horror Picture Show, The (1975)',
       'Color Purple, The (1985)', 'Little Shop of Horrors, The (1960)',
       'Mary Poppins (1964)', 'Patch Adams (1998)',
       'Sound of Music, The (1965)', 'Never Been Kissed (1999)',
       'Jewel of the Nile, The (1985)', 'Gone with the Wind (1939)',
       'Hope Floats (1998)', 'Beverly Hills Cop III (1994)',
       'Sense and Sensibility (1995)', 'Pretty in Pink (1986)', 'Emma (1996)',
       'Strictly Ballroom (1992)', 'Ever After: A Cinderella Story (1998)'],
      dtype='object')

In [71]:
# movies 데이터 프레임에서 title 컬럼을 인덱스로 만듦.
movies_with_title = movies.set_index('title')
movies_with_title

                                    movie_id                        genres
title
Toy Story (1995)                           1   Animation|Children's|Comedy
Jumanji (1995)                             2  Adventure|Children's|Fantasy
Grumpier Old Men (1995)                    3                Comedy|Romance
Waiting to Exhale (1995)                   4                  Comedy|Drama
Father of the Bride Part II (1995)         5                        Comedy
...                                      ...                           ...
Meet the Parents (2000)                 3948                        Comedy
Requiem for a Dream (2000)              3949                         Drama
Tigerland (2000)                        3950                         Drama
Two Family House (2000)                 3951                         Drama
Contender, The (2000)                   3952                Drama|Thriller

[3883 rows x 2 columns]

In [76]:
female_movies = movies_with_title.loc[female_titles]
female_movies

                                       movie_id                           genres
Dirty Dancing (1987)                       1088                  Musical|Romance
Jumpin' Jack Flash (1986)                  2468   Action|Comedy|Romance|Thriller
Grease (1978)                              1380           Comedy|Musical|Romance
Steel Magnolias (1989)                     3844                            Drama
Rocky Horror Picture Show, The (1975)      2657     Comedy|Horror|Musical|Sci-Fi
Color Purple, The (1985)                   2739                            Drama
Little Shop of Horrors, The (1960)         2747                    Comedy|Horror
Mary Poppins (1964)                        1028        Children's|Comedy|Musical
Patch Adams (1998)                         2431                     Comedy|Drama
Sound of Music, The (1965)                 1035                          Musical
Never Been Kissed (1999)                   2581                   Comedy|Romance
Jewel of the Nile, The (1985)              2405  Action|Adventure|Comedy|Romance
Gone with the Wind (1939)                   920                Drama|Romance|War
Hope Floats (1998)                         1888             Comedy|Drama|Romance
Beverly Hills Cop III (1994)                420                    Action|Comedy
Sense and Sensibility (1995)                 17                    Drama|Romance
Pretty in Pink (1986)                      2145             Comedy|Drama|Romance
Emma (1996)                                 838             Comedy|Drama|Romance
Strictly Ballroom (1992)                   1188                   Comedy|Romance
Ever After: A Cinderella Story (1998)      2125                    Drama|Romance

In [84]:
# 장르들을 저장할 리스트
female_genres = []
for genres in female_movies['genres']:
    # print(genres)
    # print(genres.split(sep='|'))
    female_genres.extend(genres.split(sep='|'))

female_genres = pd.Series(female_genres)
female_genres.value_counts()

Comedy        13
Romance       12
Drama          9
Musical        5
Action         3
Horror         2
Children's     1
Thriller       1
Sci-Fi         1
Adventure      1
War            1
dtype: int64

* 남녀 평점 차이가 큰 영화들에서, 남성들이 높은 평점을 준 상위 20개 영화에서 자주 등장하는 장르 5개를 찾아보세요.

In [69]:
male_titles = top_diff_male.index
male_titles  # 남성들이 여성들보다 더 선호하는 영화 제목 20개

Index(['Good, The Bad and The Ugly, The (1966)', 'Dumb & Dumber (1994)',
       'Longest Day, The (1962)', 'Cable Guy, The (1996)',
       'Evil Dead II (Dead By Dawn) (1987)', 'Rocky III (1982)',
       'Caddyshack (1980)', 'Animal House (1978)', 'Exorcist, The (1973)',
       'Rocky II (1979)', 'Beavis and Butt-head Do America (1996)',
       'Big Trouble in Little China (1986)', 'From Dusk Till Dawn (1996)',
       'Akira (1988)', 'Me, Myself and Irene (2000)', 'Kingpin (1996)',
       'Reservoir Dogs (1992)', 'Raging Bull (1980)',
       'South Park: Bigger, Longer and Uncut (1999)', 'Eyes Wide Shut (1999)'],
      dtype='object')

In [88]:
male_movies = movies_with_title.loc[male_titles]
male_movies

                                             movie_id                               genres
Good, The Bad and The Ugly, The (1966)           1201                       Action|Western
Dumb & Dumber (1994)                              231                               Comedy
Longest Day, The (1962)                          3062                     Action|Drama|War
Cable Guy, The (1996)                             784                               Comedy
Evil Dead II (Dead By Dawn) (1987)               1261       Action|Adventure|Comedy|Horror
Rocky III (1982)                                 2410                         Action|Drama
Caddyshack (1980)                                3552                               Comedy
Animal House (1978)                              3421                               Comedy
Exorcist, The (1973)                             1997                               Horror
Rocky II (1979)                                  2409                         Action|Drama
Beavis and Butt-head Do America (1996)           1405                     Animation|Comedy
Big Trouble in Little China (1986)               3740                        Action|Comedy
From Dusk Till Dawn (1996)                         70  Action|Comedy|Crime|Horror|Thriller
Akira (1988)                                     1274  Adventure|Animation|Sci-Fi|Thriller
Me, Myself and Irene (2000)                      3752                               Comedy
Kingpin (1996)                                    785                               Comedy
Reservoir Dogs (1992)                            1089                       Crime|Thriller
Raging Bull (1980)                               1228                                Drama
South Park: Bigger, Longer and Uncut (1999)      2700                     Animation|Comedy
Eyes Wide Shut (1999)                            2712                                Drama

In [92]:
male_genres = []  # 남성들이 선호하는 장르들을 저장할 리스트
for genres in male_movies['genres']:
    # print(genres.split(sep='|'))
    male_genres.extend(genres.split(sep='|'))

male_genres = pd.Series(male_genres)
male_genres.value_counts()

Comedy       11
Action        7
Drama         5
Horror        3
Thriller      3
Animation     3
Crime         2
Adventure     2
Western       1
Sci-Fi        1
War           1
dtype: int64

In [95]:
top_diff_male.merge(right=movies, how='inner',
                    left_index=True, right_on='title')

             F  ...                               genres
1183  3.494949  ...                       Action|Western
228   2.697987  ...                               Comedy
2993  3.411765  ...                     Action|Drama|War
774   2.250000  ...                               Comedy
1241  3.297297  ...       Action|Adventure|Comedy|Horror
2341  2.361702  ...                         Action|Drama
3483  3.396135  ...                               Comedy
3352  3.628906  ...                               Comedy
1928  3.537634  ...                               Horror
2340  2.741379  ...                         Action|Drama
1382  2.637363  ...                     Animation|Comedy
3671  2.987952  ...                        Action|Comedy
69    2.735714  ...  Action|Comedy|Crime|Horror|Thriller
1254  3.511111  ...  Adventure|Animation|Sci-Fi|Thriller
3683  2.629310  ...                               Comedy
775   3.092308  ...                               Comedy
1073  3.769231  ...                       Crime|Thriller
1210  3.831933  ...                                Drama
2631  3.422481  ...                     Animation|Comedy
2643  2.891213  ...                                Drama

[20 rows x 6 columns]

In [96]:
data

         user_id  ...                genres
0              1  ...                 Drama
1              2  ...                 Drama
2             12  ...                 Drama
3             15  ...                 Drama
4             17  ...                 Drama
...          ...  ...                   ...
1000204     5949  ...           Documentary
1000205     5675  ...                 Drama
1000206     5780  ...                 Drama
1000207     5851  ...  Comedy|Drama|Western
1000208     5938  ...           Documentary

[1000209 rows x 10 columns]

* 성별 선호도의 차이가 큰 영화 50개의 장르 순서
* 연령대 선호도 차이?