<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python14_break_continue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**반복문에서 break와 continue**

*   break: 반복문을 종료.
*   continue: 다음 iteration을 수행.

In [ ]:
for x in range(5):
    if x == 3:
        break
    print(x)

0
1
2

In [ ]:
for x in range(5):
    if x == 3:
        continue
    print(x)

0
1
2
4

구구단 출력 연습 문제
```
2 x 1 = 2
2 x 2 = 2
---------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
---------------
4 x 1 = 4
...
4 x 4 = 16
---------------
...
---------------
9 x 1 = 9
...
9 x 9 = 81
---------------
```

In [ ]:
# break를 이용하는 방법:
for dan in range(2, 10):
    for n in range(1, 10):
        print(f'{dan} x {n} = {dan * n}')
        if n == dan:
            break  # break는 break가 들어있는 가장 가까운 반복문을 종료
    print('---------------')

2 x 1 = 2
2 x 2 = 4
---------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
---------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
---------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
---------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
---------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
---------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
---------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
---------------

In [ ]:
# break를 이용하지 않는 방법:
for dan in range(2, 10):
    for n in range(1, dan + 1):
        print(f'{dan} x {n} = {dan * n}')
    print('---------------')

2 x 1 = 2
2 x 2 = 4
---------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
---------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
---------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
---------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
---------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
---------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
---------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
---------------