<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python17_while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**while 반복문**

```
[초기화 문장]
while 조건식:
    조건식이 참인 동안에 실행할 문장들
    [조건식의 내용을 변경할 수 있는 문장]
```

In [ ]:
# 1부터 10까지 출력
n = 1  # 초기 식
while n <= 10:  # n이 10 이하인 동안에,
    print(n)
    n += 1  # n의 값을 1 증가시킴.

1
2
3
4
5
6
7
8
9
10

In [ ]:
# while문 사용, 구구단 2단 출력
n = 1
while n < 10:
    print(f'2 x {n} = {2 * n}')
    n += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
# while 문 사용, 구구단 2단 ~ 9단 출력.
dan = 2
while dan < 10:
    n = 1
    while n < 10:
        print(f'{dan} x {n} = {dan * n}')
        n += 1
    print('---------------')
    dan += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
---------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
---------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
---------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
---------------

In [ ]:
n = 1
while n <= 5:
    if n == 3:
        break  # 반복문(for, while) 종료
    
    print(n)
    n += 1

1
2

In [ ]:
n = 1
while n <= 5:
    if n == 3:
        n += 1
        continue

    print(n)
    n += 1

1
2
4
5



*   break: iteration(반복) 종료.
*   continue: 다음 iteration을 수행.

In [ ]:
# 빈(empty) 집합에 0 ~ 10까지 (정수) 난수 10개를 저장
import random

random.seed(1)

numbers = set()  # empty set

while True:  # 무한 루프(infinite loop)
    numbers.add(random.randrange(0, 11))  # set에 난수를 추가
    print(numbers)
    if len(numbers) == 10:  # set의 원소 개수가 10개이면
        break  # 무한 루프를 종료

{2}
{9, 2}
{9, 2, 1}
{9, 2, 4, 1}
{9, 2, 4, 1}
{1, 2, 4, 7, 9}
{1, 2, 4, 7, 9}
{1, 2, 4, 7, 9}
{1, 2, 4, 7, 9, 10}
{1, 2, 4, 6, 7, 9, 10}
{1, 2, 3, 4, 6, 7, 9, 10}
{1, 2, 3, 4, 6, 7, 9, 10}
{1, 2, 3, 4, 6, 7, 9, 10}
{0, 1, 2, 3, 4, 6, 7, 9, 10}
{0, 1, 2, 3, 4, 6, 7, 9, 10}
{0, 1, 2, 3, 4, 6, 7, 9, 10}
{0, 1, 2, 3, 4, 6, 7, 9, 10}
{0, 1, 2, 3, 4, 6, 7, 9, 10}
{0, 1, 2, 3, 4, 6, 7, 9, 10}
{0, 1, 2, 3, 4, 6, 7, 9, 10}
{0, 1, 2, 3, 4, 6, 7, 9, 10}
{0, 1, 2, 3, 4, 6, 7, 9, 10}
{0, 1, 2, 3, 4, 6, 7, 9, 10}
{0, 1, 2, 3, 4, 5, 6, 7, 9, 10}

In [ ]:
numbers = set()

while len(numbers) < 10:
    numbers.add(random.randrange(0, 11))
    print(numbers)

{7}
{8, 7}
{8, 6, 7}
{8, 9, 6, 7}
{0, 6, 7, 8, 9}
{0, 6, 7, 8, 9}
{0, 3, 6, 7, 8, 9}
{0, 3, 6, 7, 8, 9}
{0, 3, 6, 7, 8, 9}
{0, 3, 6, 7, 8, 9, 10}
{0, 2, 3, 6, 7, 8, 9, 10}
{0, 2, 3, 5, 6, 7, 8, 9, 10}
{0, 2, 3, 5, 6, 7, 8, 9, 10}
{0, 2, 3, 5, 6, 7, 8, 9, 10}
{0, 2, 3, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3, 5, 6, 7, 8, 9, 10}

In [ ]:
# 1 + 2 + 3 + ... + 99 + 100 = ?
# 1 + 2 + 3 + ... + n = n(n + 1) / 2

n = 100
result = n * (n + 1) / 2
print(result)

5050.0

In [ ]:
n = 100
numbers = [x for x in range(1, n + 1)]
# print(numbers)
result = sum(numbers)
print(result)

500500

In [ ]:
n = 100
total = 0
for x in range(1, n + 1):
    total += x
print(total)

5050

In [ ]:
n = 1
total = 0
while n <= 100:
    total += n
    n += 1
print(total)

5050

In [ ]:
# 1 + 2 + 3 + ... + x <= 100 를 만족하는 가장 큰 정수 x
total = 0
x = 1
while True:  # 무한 루프
    total += x
    print(f'x = {x}, total = {total}')
    if total > 100:
        break
    x += 1

x = 1, total = 1
x = 2, total = 3
x = 3, total = 6
x = 4, total = 10
x = 5, total = 15
x = 6, total = 21
x = 7, total = 28
x = 8, total = 36
x = 9, total = 45
x = 10, total = 55
x = 11, total = 66
x = 12, total = 78
x = 13, total = 91
x = 14, total = 105

In [ ]:
# 1 + 2 + 3 + ... + x <= 100 
x = 1
total = 0

while total <= 100:
    total += x
    print(f'x = {x}, total = {total}')
    x += 1

x = 1, total = 1
x = 2, total = 3
x = 3, total = 6
x = 4, total = 10
x = 5, total = 15
x = 6, total = 21
x = 7, total = 28
x = 8, total = 36
x = 9, total = 45
x = 10, total = 55
x = 11, total = 66
x = 12, total = 78
x = 13, total = 91
x = 14, total = 105