<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python42_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   NumPy 패키지:
    * numpy.ndarray (n-dimensional array) 클래스
    * 행렬과 같은 숫자형 데이터들을 빠르게 연산.
*   pandas 패키지:
    * pandas.Series (1차원 데이터), pandas.DataFrame (2차원 데이터) 클래스
    * 표와 같은 형태의 데이터들을 분석, 정제, 조작하는 기능.
*   matplotlib 패키지, seaborn 패키지:
    * 시각화(visualization) - 그래프.

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.0.5'

In [6]:
# pandas.Series: 한가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입.
s = pd.Series([1, 3, -5, 9])
print(s)
print(type(s))
print(s.index)  # Series는 index 속성을 가지고 있음.
print(s.values)  # Series는 values 속성을 가지고 있음 - ndarray 타입.

0    1
1    3
2   -5
3    9
dtype: int64
<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=4, step=1)
[ 1  3 -5  9]

In [10]:
# Series의 원소 접근(값을 읽거나 변경) - index 사용.
print(s[1])

3

In [9]:
print(s[:3])  # range: 0 <= index < 3

0    1
1    3
2   -5
dtype: int64

In [11]:
print(s[-2:])

2   -5
3    9
dtype: int64

In [12]:
print(s[[True, False, True, False]])  # boolean indexing

0    1
2   -5
dtype: int64

In [13]:
print(s[s > 0])

0    1
1    3
3    9
dtype: int64

In [14]:
# fancy indexing - 인덱스들의 배열(리스트)
print(s[[1, 3]])

1    3
3    9
dtype: int64

In [15]:
# Series.loc[label]: label-base location
# Series.iloc[integer]: integer-base location
s = pd.Series(data=[1, 3, -5, 9], index=['a', 'b', 'c', 'd'])
print(s)

a    1
b    3
c   -5
d    9
dtype: int64

In [17]:
print(s.index)
print(s.values)

Index(['a', 'b', 'c', 'd'], dtype='object')
[ 1  3 -5  9]

In [18]:
print(s.iloc[1])

3

In [19]:
print(s.iloc[1:3])  # start <= index < end

b    3
c   -5
dtype: int64

In [20]:
print(s.iloc[-2:])

c   -5
d    9
dtype: int64

In [21]:
print(s.loc['b'])

3

In [22]:
print(s.loc['b':'c'])  # start <= index <= end

b    3
c   -5
dtype: int64

In [24]:
s = pd.Series([1, 3, 5, 7, 9])
print(s.iloc[1:4])
print(s.loc[1:3])

1    3
2    5
3    7
dtype: int64
1    3
2    5
3    7
dtype: int64

In [27]:
s.loc[-2:]  # iloc[2:]와는 전혀 다른 결과!

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [29]:
# dict 객체를 Series로 변환
city_pop = {'서울': 10_000_000, '경기': 15_000_000, '인천': 1_000_000}
print(city_pop)

s = pd.Series(city_pop)
print(s)

{'서울': 10000000, '경기': 15000000, '인천': 1000000}
서울    10000000
경기    15000000
인천     1000000
dtype: int64

In [30]:
print(s.loc[['인천', '서울', '경기']])

인천     1000000
서울    10000000
경기    15000000
dtype: int64

In [31]:
print(s.iloc[[2, 0, 1]])

인천     1000000
서울    10000000
경기    15000000
dtype: int64