<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 구구단 2단부터 9단까지 출력하는 코드 작성

출력 결과 예시
```
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
...
2 x 8 = 16
2 x 9 = 18
---------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
...
3 x 8 = 24
3 x 9 = 27
---------------
...
---------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9..
9 x 8 = 72
9 x 9 = 81
---------------
```

# 동요를 불러볼까요~?

아래와 같이 출력되도록 코드 작성.
```
1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!
```

In [9]:
for n in range(1, 11):
    print(n, 'little', end=' ')
    if n % 3 == 0:
        print('indian')  # 'indian'을 출력하고 나서 줄바꿈.
print('indian boys!')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

# 369 게임을 해볼까요~?

아래와 같이 출력되도록 코드 작성
```
1  2  *  4  5  *  7  8  *  10
11 12 *  14 15 *  17 18 *  20
21 22 *  24 25 *  27 28 *  *
*  *  *  *  *  *  *  *  *  40
...
*  *  *  *  *  *  *  *  *  100
```

In [18]:
for n in range(1, 101):
    # 숫자 n을 1의 자릿수와 10의 자릿수로 분리
    n_1 = n % 10  # 10으로 나눈 나머지: 숫자 n의 1의 자릿수
    n_10 = n // 10  # 10으로 나눈 몫: 숫자 n의 10의 자릿수
    
    # 1의 자릿수가 3 또는 6 또는 9이면,
    cond_1 = n_1 in (3, 6, 9)  # n_1 == 3 or n_1 == 6 or n_1 == 9
    # 10의 자릿수가 3 또는 6 또는 9이면,
    cond_10 = n_10 in (3, 6, 9)

    if cond_1 and cond_10:  # 1의 자릿수가 3, 6, 9이고, 10의 자릿수도 3,6,9이면
        print('**', end='\t')
    elif cond_1 or cond_10:  # 1의 자릿수가 3,6,9이거나 또는 10의 자릿수가 3,6,9이면
        print('*', end='\t')
    else:
        print(n, end='\t')
    
    if n % 10 == 0:
        print()  # 숫자 10개를 출력할 때마다 줄바꿈.

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	**	*	*	**	*	*	**	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	**	*	*	**	*	*	**	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	**	*	*	**	*	*	**	100